h1{
    color:brown;
    background-color: chartreuse;
}

p{
    color:black;
    background-color: rgb(130, 93, 24);
}
button{
    color:whitesmoke;
    background-color: deeppink;
}
body{
    background-color:skyblue ;
}